<% provide(:title, "Sign Up For An Account") %>

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="text-center">
      <h2 class="text-center">Sign up</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group modal-header">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group modal-body">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: false, class: "form-control" %>
      </div>

      <div class="form-group modal-body">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group modal-body">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group modal-footer">
      <br>
      <%= raw recaptcha_tags %>
      <br>
        <%= f.submit "Sign up", class: "btn btn-primary" %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
