<%= form_for(@listing, :html => { multipart: true }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class= "alert alert-danger alert-dismissable">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :code %><br>
    <%= f.text_area :code, class: "form-control", :rows => 12 %>
  </div>
  <div class="form-group">
    <%= f.label :language %><br>
    <%= f.text_field :language, class: "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
