<% provide(:title, "Index of New and Trending Pastes") %>
<div class="rec_uploads">
  <h1>trending</h1>
</div>
<div class="container">
  <div class="vertical-center-row">
    <div align="center">
      <div class="index_table align-center">

      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Creator</th>
            <th>Time</th>
            <th>Votes</th>
            <th colspan="3"></th>
          </tr>
        </thead>


        <tbody>
          <% @listings.each do |listing| %>
            <tr>
              <td><%= link_to listing.name, listing %></td>
              <td><%= listing.language %></td>
              <td><%= link_to listing.user.username, listing.user %></td>
              <td><%= "#{time_ago_in_words(listing.created_at)} ago" %></td>
              <td>

                <%= link_to like_listing_path(listing), class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label="Left Align">
                  <span class="glyphicon glyphicon-chevron-up glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= listing.get_upvotes.size%></span>
                </button>
                <% end %>

                <%= link_to unlike_listing_path(listing), class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label="Left Align">
                  <span class="glyphicon glyphicon-chevron-down glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= listing.get_downvotes.size%></span>
                </button>
                <% end %>

              </td>

            </tr>
          <% end %>

        </tbody>
      </table>
      <%= will_paginate @listings %>
    </div>
    </div>
  </div>
<div>

<br>

<%= link_to 'New Paste', new_listing_path, class: "btn btn-primary" %>
