<%= stylesheet_link_tag "default.css"%>
<%= javascript_include_tag "highlight.pack" %>

<div class="codeblock">
<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @listing.user.username %>
</p>

<p>
  <strong>Language:</strong>
  <%= @listing.language %>
</p>
</br>
<article>
<pre><code><%= @listing.code %></code></pre>
</article>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
</div>

<div class="commentblock">
    <%= render partial: 'comments/form' %>
    <%= render partial: 'listings/comment',  collection: @listing_comments = @listing.comments.reverse.paginate(:page => params[:page], :per_page => 10) %>
    <%= will_paginate @listing_comments %>
</div>
