<% provide(:title, "#{@listing.name} by #{@listing.user.username}") %>
<%= stylesheet_link_tag "default.css"%>
<%= javascript_include_tag "highlight.pack" %>
<% content_for :head do %>
  <%= stylesheet_link_tag "listings.scss" %>
<% end %>

<div class="codeblock">
<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= link_to @listing.user.username, @listing.user %>
</p>

<p>
  <strong>Language:</strong>
  <%= @listing.language %>
</p>
</br>
<article>
<pre><code><%= @listing.code %></code></pre>
</article>

<div>
  <% if @listing.user == current_user %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-primary" %>
    <%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>

  <%= link_to like_listing_path(@listing), class: "like", method: :put do %>
  <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-chevron-up glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%= @listing.get_upvotes.size%></span>
  </button>
  <% end %>

  <%= link_to unlike_listing_path(@listing), class: "like", method: :put do %>
  <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-chevron-down glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%= @listing.get_downvotes.size%></span>
  </button>
  <% end %>
</div>

</div>

<div class="commentblock">
    <%= render partial: 'comments/form' %>
    <%= render partial: 'listings/comment',  collection: @listing_comments = @listing.comments.reverse.paginate(:page => params[:page], :per_page => 10) %>
    <%= will_paginate @listing_comments %>
</div>
