<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>This is your confirmation contact request email. We will get back to you shortly.
    </br>Usually within 24 hours</p>
    <p>Name: <%= @contact_info.name %></p></br>
    <p>Email: <%= @contact_info.email %></p></br>
    <p>Subject: <%= @contact_info.subject %></p></br>
    <p>Phone: <%= @contact_info.phone %></p></br>
    <p>Content: <%= @contact_info.content %></p>
  </body>
</html>
