<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="text-center">
      <h2>Welcome to <%= @user.username%>'s profile</h2>
    </div>

    <div class="form-group modal-header">
      <div class="text-center">
        <h3>Reputation</h3>
      </div>

      <div id="rep-buttons" class="votes">
      <%= link_to like_user_path(@user), class: "like", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-chevron-up glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= @user.get_upvotes.size%></span>
      </button>
      <% end %>

      <%= link_to unlike_user_path(@user), class: "like", method: :put do%>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-chevron-down glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= @user.get_downvotes.size%></span>
      </button>
      <% end %>
    </div>
    </div>

    <div class="form-group modal-body">
      <div>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Post</th>
            </tr>
          </thead>
          <tbody>
            <% @user.listings.each do |listing| %>
            <tr>
              <td>
                <% if listing.private == false %>
                  <%= link_to listing.name, listing %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>

        <%if current_user.username == @user.username %>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Private</th>
            </tr>
          </thead>
          <tbody>
            <% @user.listings.each do |listing| %>
            <tr>
              <td>
                <% if listing.private == true%>
                  <%= link_to listing.name, listing%>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div><!--form-group modal-body-->

    <div class="actions modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

  </div><!--modal-content-->
</div> <!--modal-dialog-->
