<% provide(:title, "Sign In") %>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="text-center">
      <h2>Log in</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group modal-header">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group modal-body">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group modal-body">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group modal-footer">
        <%= f.submit "Log in", class: "btn btn-primary" %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
